body {
    background-color: #66c2e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-box {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.info-box {
    background: #1c6ca7;
    color: white;
    padding: 40px;
    width: 40%;
}
.form-box {
    padding: 40px;
    width: 60%;
}
.btn-light {
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.btn-primary {
    background: #1c6ca7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
